header, footer, section, article, aside {
    margin: 10px;
    background: #E9FAFF;
    border-radius: 6px;
    color: black;
    font: 16px/24px "Calibri";
    padding: 24px 15px;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
    display:block;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 100px;
    padding-right: 100px;
    background: #E9FAFF;
    font-weight: 900;
}

td.label {
    text-align: right; 
    padding-right:4px;
}


td.summaryLabel {
    padding-right:15px;
}

aside.right {
    float: right;
}
aside.left {
    float: left;
}
tr.alignTop {
    vertical-align: top;
}

option {
    padding:3px; 
}

input, select {
    padding:3px; 
    /* font-size:large; */
}

summary {
    /* font-size: x-large; */
    font-weight: bold;
    font-size: 1.5em;
}
span.headingBlueBackground{
    background:  linear-gradient(to right, #3399ff 0%, #0000ff 50%);
    border-radius: 10px;
    color: white;
    padding: 10px  10px  10px  10px;
    text-align: left;
    
   
   
}

button.big { background: linear-gradient(to right, #3399ff 0%, #0000ff 50%);
    font-family: Calibri;
    /* background-color: #4CAF50; Green */
    background: linear-gradient(to right, #006600 70%, #000000 100%);
    border-radius: 10px;
    font-size: 36px;
    color: white;
}

button.small {
    font-family: Calibri;
    font-size: 18px;
    background: linear-gradient(to right, #006600 70%, #000000 100%);
    border-radius: 10px;
    color: white;
}

.tooltip {
    font-size: x-large;
    font-weight: normal;
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
    padding-left: 5px;
    color: lightskyblue;
}

.tooltip .tooltiptext {
    visibility: hidden;
    color: black;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    padding-left: 5px;
    width: 600px;
    border-radius: 10px;
    padding: 15px;
    background: lightgrey;
    z-index: 1;
    position: absolute;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}