.bevel2 {
    filter: url(#Bevel2);
}

 text.title {
   font-family: Calibri;
   font-size: 72px;
   font-weight: bold; 
   fill: #333333;
}

 text.label {
    font-family: Roboto Condensed, sans-serif;
    font-size: 48px; 
    fill: #888888;
 }

 text.value {
    font-family: Roboto Condensed, sans-serif;
    font-size: 96px;
    fill: #000000;
 }

 text.info {
   font-family: Arial, sans-serif;
   font-size: 10px; 
   fill: #888888;
}